SERVICE_NAME=rusty-todoish
SERVICE_HOST=127.0.0.1
SERVICE_PORT=8080
SERVICE_VERSION=0.1.0

REDIS_NAME=rusty-todoish-redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_URL="redis://${REDIS_HOST}:${REDIS_PORT}"

POSTGRES_DATABASE_NAME=rusty-todoish-postgres
POSTGRES_USERNAME=root
POSTGRES_PASSWORD=root
POSTGRES_PORT=5432
POSTGRES_ADDRESS=127.0.0.1
DATABASE_URL="postgres://${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}@${POSTGRES_ADDRESS}:${POSTGRES_PORT}/${POSTGRES_DATABASE_NAME}"

# The secret key used for signing JWTs.
JWT_SECRET=h3EX6ZaWGrR9uwd8MkzbxA2yQmBPvCfn
# The expiration time for access tokens in seconds.
JWT_EXPIRE_ACCESS_TOKEN_SECONDS=3600 # 1 hour
# The expiration time for refresh tokens in seconds.
JWT_EXPIRE_REFRESH_TOKEN_SECONDS=7776000 # 90 days
# The leeway time in seconds for validating JWTs.
JWT_VALIDATION_LEEWAY_SECONDS=60 # 1 minute, default
# Enable or disable the use of revoked tokens.
# Set to 'true' to allow revoked tokens, 'false' to disallow.
JWT_ENABLE_REVOKED_TOKENS=false